section{
    display: flex;
}
div{
    flex: 1;
    border: 1px solid black;
    padding: 100px 0 100px 0;
    font-size: 32px;
}
    div:nth-child(1){
        background-color: rgb(248, 21, 21);
        text-align: center;
    }
    div:nth-child(2){
        background-color: rgb(7, 11, 252);
        text-align: center;
    }
 
 @media (max-width: 600px) {
  section {
    flex-direction: column;
  }
}